{% extends "layout.html" %}
{% block content %}
    <script>
        function copyBBDeck() {
            const copyText = document.getElementById("bbcode_deck").value;
            navigator.clipboard.writeText(copyText).then(function () {
                alert("Copied!");
            }).catch(function (err) {
                console.error("Clipboard copy failed: ", err);
                alert("Failed to copy. Please try again.");
            })
        }
    </script>
    <style>
        .flex-item {
            flex: 1 1 300px;
        }

        @media (min-width: 768px) {
            .btn {
                margin: 0 15%;
            }
        }
    </style>

    <form method="POST" class="border rounded bg-light shadow pb-4">
        <h2 class="px-3">
            <a href="{{ url_for('main.page_decklist_formatter') }}">
                Deck Formatter
            </a>
        </h2>

        <div class="d-flex flex-wrap p-4">
            <fieldset class="border p-3 flex-item p-3">
                <legend class="px-2">Deck Info</legend>
                {% for field in form if field.widget.input_type != 'hidden' and field.type != "TextAreaField" %}
                    <div class="form-group">
                        {{ field.label }}
                        <!-- Height auto or select too short in Boostrap4 -->
                        {{ field(class='form-control', style='height: auto;') }}
                    </div>
                {% endfor %}
            </fieldset>

            <div class="flex-item p-3">
                {{ form.deck_list.label }}
                {{ form.deck_list(class='form-control', rows='8') }}
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-warning btn-block mt-3"
                            onclick="document.getElementById('deck_list').value = ''">
                        Clear Deck
                    </button>
                </div>
            </div>
            {% if parsed_output %}
                <div class="flex-item p-3">
                    <label>Parsed Input</label>
                    <div class="border form-control"
                         style="height: auto; min-height: 12.5em; overflow-y: auto;">
                        {% for dictionary in parsed_output %}
                            <p class="mb-0 {% if not dictionary["is_correct"] %} text-danger {% endif %}">
                                {{- dictionary["line"] -}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center p-4">
            <button type="submit" class="btn btn-primary btn-block">
                Translate & Format
            </button>
        </div>
    </form>
    {% if bbcode %}
        <div class="p-4 border rounded bg-light shadow mt-3">
            <div class="form-group">
                <label for="bbcode_deck">BBCode Deck:</label>
                <textarea id="bbcode_deck" name="bbcode_deck" class="form-control" rows="8">
                        {{- bbcode -}}
                    </textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success btn-block" onclick="copyBBDeck()">
                    Copy BBCode
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}