{% extends "layout.html" %}
{% block content %}
    <script>
        function copyBBDeck() {
            const copyText = document.getElementById("bbcode_deck").value;
            navigator.clipboard.writeText(copyText).then(function () {
                alert("Copied!");
            }).catch(function (err) {
                console.error("Clipboard copy failed: ", err);
                alert("Failed to copy. Please try again.");
            })
        }
    </script>

    <div class="container d-flex justify-content-center align-items-center vh-100 flex-wrap">
        <form method="POST" class="w-75 p-4 border rounded bg-light shadow">
            <div class="form-row">
                <fieldset class="col-12 col-md-4 mb-3 border rounded">
                    <legend class="w-auto" href="/">
                        <a href="/">Deck Formatter</a>
                    </legend>
                    {% set form_fields = [
                                        'Deck Name',
                                        'Player Name',
                                        'Event Name',
                                        'Player Role',
                                        'Note Redazione'
                                        ] %}

                    {% for label in form_fields %}
                        {% set field_id = label|lower|replace(' ', '_') %}
                        <div class="form-group">
                            <label for="{{ field_id }}">{{ label }}:</label>
                            <input type="text" id="{{ field_id }}" name="{{ field_id }}" class="form-control"
                                   value="{{ fieldset_data[field_id] }}">
                        </div>
                    {% endfor %}
                </fieldset>

                <div class="col-12 col-md-4 mb-3">
                    <div class="form-group">
                        <label for="decklist">Decklist:</label>
                        <textarea id="decklist" name="decklist" class="form-control" rows="8">
                            {{- fieldset_data.decklist -}}
                        </textarea>
                    </div>
                    <button type="button" class="btn btn-warning btn-block"
                            onclick="document.getElementById('decklist').value = ''">
                        Clear Deck
                    </button>
                </div>
                {% if parsed_output %}

                    <div class="col-12 col-md-4 mb-3">
                        <p class="font-weight-bold mb-1">Parsed Output:</p>
                        <div class="border form-control"
                             style="height: auto; min-height: 12.5em; overflow-y: auto;">
                            {% for dictionary in parsed_output %}
                                {% if dictionary["is_correct"] %}
                                    <p class="mb-0">
                                        {{- dictionary["line"] -}}
                                    </p>
                                {% else %}
                                    <p class="mb-0 text-danger">
                                        {{- dictionary["line"] -}}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-3">
                Translate & Format
            </button>
        </form>

        {% if bbcode %}
            <div class="w-75 p-4 border rounded bg-light shadow mt-3">
                <div class="form-group">
                    <label for="bbcode_deck">BBCode Deck:</label>
                    <textarea id="bbcode_deck" name="bbcode_deck" class="form-control" rows="8">{{ bbcode }}</textarea>
                </div>
                <button type="button" class="btn btn-success btn-block" onclick="copyBBDeck()">
                    Copy BBCode
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}