{% extends "layout.html" %}
{% block content %}
    {% for key in formats %}
        <a href='/{{ key }}/{{ currency |safe }} '> {{ key }} </a>
        |
    {% endfor %}

    <br>
    <br>

    <table id="customers">
        <tr>
            <th>{{ format_name }} Tiers by % Price you already have</th>
        </tr>
    </table>

    <table id="customers" class="sortable">
        <tr>
            <th>Deck:</th>
            <th>Value you own %</th>
            <th>Tot price ({{ currency |safe }})</th>
            <th>Your Price ({{ currency |safe }})</th>
            <th>Cards you need</th>
            <th>Tot Cards</th>
        </tr>
        {% for deck in formato %}
            <tr>
                <td>
                    {# need query parameters and urlencode because deck.name can include slashes #}
                    <a href='/calc?format={{ format_name }}&deck={{ deck.name | urlencode }}&currency={{ currency |safe }}'>
                        {{ deck.name }}
                    </a>
                </td>
                <td> {{ deck.value }} </td>
                <td> {{ deck.tot_price }} </td>
                <td> {{ deck.your_price }} </td>
                <td> {{ deck.cards_needed }} </td>
                <td>{{ deck.cards_total }} </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

{% endblock content %}