{% extends "layout.html" %}
{% block content %}
    <body>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Best MTG Deck For You</h1>
            <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Submit Your Collection</a>
            <a type="button" class="btn btn-link" href="{{ url_for('values') }}">Evaluate Your Collection</a>
            <a type="button" class="btn btn-link" href="{{ url_for('page_decklist_formatter') }}">Decklist Formatter</a>
        </div>
        <div class="page-header">
        </div>
        <div class="well">
            <p>
                <strong><i class="fas fa-magic"></i> Find the Best MTG Deck for You!</strong><br>
                Wondering which deck to buy based on your collection?
                Click on <a class="btn btn-link" href="{{ url_for('sign') }}"><i class="fas fa-upload"></i> Submit
                Your Collection</a>, paste your card list, and see how much it costs to build a competitive MTG
                deck.
            </p>
            <p>
                <i class="fas fa-tags"></i> Prices are based on <strong>Mkm price trends</strong> (€) and <strong>TCG
                Market prices</strong> (USD).
            </p>
        </div>

        <div class="well">
            <p><strong><i class="fas fa-exclamation-triangle"></i> Exporting Your MTGA Collection:</strong></p>
            <p>
                MTGA Logs no longer support collection extraction. Help bring this feature back by upvoting
                <a target="_blank"
                   href="https://feedback.wizards.com/forums/918667-mtg-arena-bugs-product-suggestions/suggestions/44050746-broken-logs-in-2021-8-0-3855">
                    <i class="fas fa-thumbs-up"></i> this post on the MTGA official forum</a>.
            </p>
        </div>

        <div class="well">
            <p><strong><i class="fas fa-users"></i> Stay Connected:</strong></p>
            <p>
                <a href="https://www.reddit.com/r/BestMtgDeckForYou/"><i class="fab fa-reddit"></i> Join the
                    discussion on Reddit</a>!
            </p>
            <p>
                <i class="fas fa-envelope"></i> Have feedback, suggestions, or deck list requests? Contact me at
                <a href="mailto:bestdeckforyou@gmail.com">bestdeckforyou@gmail.com</a>.
            </p>
            <p>
                <i class="fas fa-code"></i> Want to contribute or check out how Best MTG Deck works? The source code
                is available on
                <a href="https://github.com/ElLorans/Best-MTG-Deck"><i class="fab fa-github"></i> GitHub</a>.
            </p>
        </div>
        {% include 'buy_me_a_coffee.html' %}
    </div>
{% endblock content %}