{% extends "layout.html" %}
{% block content %}
    <body>
    <div class="container">
        <form class="form-signin" id="myForm" method="post" action="/Standard/€">
            <h2 class="form-signin-heading" style=text-align:center>Insert Collection</h2>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <p></p>
            <div class="form-group">
                <label for="comment" class="sr-only">Insert Collection:</label>
                <textarea class="form-control" name="comment" rows="10" id="comment"
                          placeholder="1 teferi, hero of dominaria"
                          required></textarea>
            </div>

            <label>
                <input type="checkbox" name="dollars" value="/Standard/$" onclick="formaction(this)">
            </label> Prices in USD
            <br>
            <label>
                <input type="checkbox" name="mtga" value="/Standard/mtga" onclick="formaction(this)">
            </label> MTGA

        </form>
        <script>
            function formaction(checkbox) {
                if (checkbox.checked === true) {
                    document.getElementById("myForm").action = checkbox.value;
                    for (var i = 0; i < document.getElementById("myForm").length; i++) {
                        document.getElementById("myForm")[i].checked = false;
                    }
                    checkbox.checked = true;
                }
                if (checkbox.checked === false) {
                    document.getElementById("myForm").action = "/Standard/€";
                }
            }
        </script>
    </div>
    </body>

{% endblock content %}