{% extends "layout.html" %}
{% block content %}
    <body>
    <div class="jumbotron">
        <h1>OOPSS!</h1>

        <h2>Something went wrong!</h2>
    </div>
    <div class="page-header">
    </div>
    <div class="well">
        <p> {{ error | safe }} .</p>
        <p>Click<a type="button" class="btn btn-link" onclick="goBack()"><font color="light blue">Go back</font>
        </a>
            <script>function goBack() {
                window.history.back();
            }</script>
            or go back to the <a type="button" class="btn btn-link" href="{{ url_for('main.home') }}">home page</a>
            to try again. <br>

            Do you think this page is due to an error or that I should add (back) a deck/format?
            <br>
            Drop me an email at <b>bestdeckforyou@gmail.com</b> and I'll solve the problem!
        </p>
    </div>

    </body>
{% endblock content %}
