{% extends "layout.html" %}
{% block content %}
    <table class="sortable" id="customers">
        <tr>
            <th>{{ deck.format_name }}</th>
            <th>{{ deck.name }}</th>
            <th>Value you own: {{ deck.value_you_own }} %</th>
        </tr>
        {% if currency != "mtga" %}
            <tr>
                <th>Tot Price ({{ currency |safe }})</th>
                <th>Your Price ({{ currency |safe }})</th>
                <th>Copies you need</th>
            </tr>
        {% endif %}
        <tr>
            <td>{{ deck.price }}</td>
            <td>{{ deck.your_price }}</td>
            <td>{{ deck.cards_you_need }} / {{ deck.cards }}</td>
        </tr>
    </table>

    <br>

    <table class="sortable" id="customers">
        <tr>
            <th>Card</th>
            <th># you have / # you need</th>
            <th>Price For You</th>
            <th>Tot Price</th>
            {% if deck.arena %}
                <th>Wildcards</th>
            {% endif %}
        </tr>

        {% for card in deck.list %}
            <tr>
                <td>
                    <a class="simple" target="_blank" rel="noopener noreferrer"
                       href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a>
                </td>
                <td>
                    {{ card.copies_owned }} / {{ card.copies_total }}
                </td>
                <td>
                    {{ card.price_for_you }}
                </td>
                <td>
                    {{ card.tot_price }}
                </td>
                {% if deck.arena %}
                    {% if card.wildcards != 'Basic Land' %}
                        <td>{{ card.copies_total }} {{ card.wildcards }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <br>

    {% if deck.list_side %}
        <table class="sortable" id="customers">
            <tr>
                <th>Sideboard</th>
            </tr>
        </table>

        <table class="sortable" id="customers">
            <tr>
                <th>Card</th>
                <th># you have / # you need</th>
                <th>Price For You</th>
                <th>Tot Price</th>
                {% if deck.arena %}
                    <th>Wildcards</th>
                {% endif %}
            </tr>

            {% for card in deck.list_side %}
                <tr>
                    <td>
                        <a class="simple" href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a>
                    </td>
                    <td>
                        {{ card.copies_owned }} / {{ card.copies_total }}
                    </td>
                    <td>
                        {{ card.price_for_you }}
                    </td>
                    <td>
                        {{ card.tot_price }}
                    </td>
                    {% if deck.arena %}
                        {% if card.wildcards != 'Basic Land' %}
                            <td>{{ card.copies_total }} {{ card.wildcards }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <br>
        <br>
    {% endif %}

    <div class="well">
        {% if deck.arena %}
            <h3>MTGA:</h3>
            <h5>You need</h5>
            {% for type, num in deck.wc.items() %}
                {{ num }} {{ type }}
                <br>
            {% endfor %}
            <h4>Wildcards</h4>
            <br>
            <h4>Deck list in plain text</h4>
            <b> After MTGA's update, you can now import normal lists: copy the deck list below.
                Then open MTG Arena and, on Decks, click on 'Import Deck'. </b>
            <br>
            (Arena language must be set to English):
            <br>
            <br>
            {% if deck.format_name in ('Brawl', 'Historic Brawl') %}
                Commander
                <br>
                1 {{ deck.name }}
                <br>
                <br>
                Deck
                <br>
                {% for card in deck.list[1:] %}
                    {{ card.copies_total }} <a class="simple" target="_blank" rel="noopener noreferrer"
                       href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a>
                    <br>
                {% endfor %}
            {% else %}
                {% for card in deck.list %}
                    {{ card.copies_total }} <a class="simple" target="_blank" rel="noopener noreferrer"
                       href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a>
                    <br>
                {% endfor %}
            {% endif %}
            <br>
            {% for card in deck.list_side %}
                {{ card.copies_total }} <a class="simple" target="_blank" rel="noopener noreferrer"
                       href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a> {{ card.arena }}
                <br>
            {% endfor %}

        {% endif %}

        {% if currency != "mtga" %}
            <h3>Paper:</h3>
            <p>
                Building {{ deck.name }} should cost you about {{ deck.your_price }} {{ currency |safe }}
                (Prices are calculated as
                {% if currency == "€" %}
                    mkm price trend
                {% elif currency == "$" %}
                    tcg market price
                {% endif %}
                ). Here are the missing cards you need to complete it:
            </p>

            <p>
            {% for card in deck.list %}
                {% if card.copies_missing != 0 %}
                    {{ card.copies_missing }} <a class="simple" target="_blank" rel="noopener noreferrer"
                       href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a>
                    <br>
                {% endif %}

            {% endfor %}
            <br>
            {% for card in deck.list_side %}
                {% if card.copies_missing != 0 %}
                    {{ card.copies_missing }} <a class="simple" target="_blank" rel="noopener noreferrer"
                       href="https://deckbox.org/mtg/ {{ card.name }} "> {{ card.name }} </a>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        </p>
    </div>
{% endblock content %}