{% extends "layout.html" %}
{% block content %}
	<table border=1 id="customers">
		<tr>
		<th>Standard Best Of 1 Tiers by % Price you already have</th>
		</tr>
	</table>
	
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
			{% for deck in bestofone %}
			<tr>
			<td><a href='/calc/Best Of One/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
			{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table border=1 id="customers">
		<tr>
		<th>Standard Tiers by % Price you already have</th>
		</tr>
	</table>
	
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
			{% for deck in standard %}
			<tr>
			<td><a href='/calc/Standard/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
			{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table border=1 id="customers">
		<tr>
		<th>Standard Challenger Decks by % Price you already have</th>
		</tr>
	</table>
	
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
			{% for deck in standardchallengerdecks %}
			<tr>
			<td><a href='/calc/Standard Challenger Decks/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
			{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table border=1 id="customers">
		<tr>
		<th>Modern Tiers by % Price you already have</th>
		</tr>
	</table>
	
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
			{% for deck in modern %}
			<tr>
			<td><a href='/calc/Modern/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
			{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table border=1 id="customers" class="sortable">
		<tr>
		<th>Legacy Tiers by % Price you already have</th>
		</tr>
	</table>
	
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
		{% for deck in legacy %}
			<tr>
			<td><a href='/calc/Legacy/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
		{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table border=1 id="customers">
		<tr>
		<th>Legacy Budget To Tiers</th>
		</tr>
	</table>
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
		{% for deck in legacybudgettotier %}
			<tr>
			<td><a href='/calc/Legacy Budget To/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
		{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table border=1 id="customers">
		<tr>
		<th>Pauper Tiers by % Price you already have</th>
		</tr>
	</table>
	
	<table id="customers" class="sortable">
		<tr>
		<th>Deck Name:</th>
		<th>Value you own % </th>
		<th>Tot price (€) </th>
		<th>Your Price (€) </th>
		<th>Number of cards you need </th>
		<th>Total Number of Cards</th>
		</tr>
		{% for deck in pauper %}
			<tr>
			<td><a href='/calc/Pauper/{{ deck.name }}'> {{ deck.name }} </a></td>
			<td> {{ deck.value }} </td>
			<td> {{ deck.tot_price }} </td>
			<td> {{ deck.your_price }} </td>
			<td> {{ deck.cards_needed }} </td>
			<td> {{ deck.cards_total }} </td>
			</tr>
		{% endfor %}
	</table>

{% endblock content %}