{% extends "layout.html" %}
{% block content %}
    <body>

    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <h1>Best MTG Deck For You</h1>
            <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Submit Your Collection</a>
            <a type="button" class="btn btn-link" href="{{ url_for('values') }}">Evaluate Your Collection</a>
        </div>
        <div class="page-header">
        </div>
        <div class="well">
            <p>What MTG deck should you buy given the cards and the
                decks already in your collection?
                <br>
                Click on
                <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Submit Your Collection</a>
                and paste the list of your cards to see how much you should spend to build MTG competitive Decks.
                <br>
                Mkm price trends are used for € prices, TCG Market prices are used for USD prices.
            </p>
        </div>

        <div class="well">
            <p><b>Export MTGA Collection:</b>
                <br>
                <i>Log into Arena and go to "Adjust Options"; click on "View Account"; check the “Detailed Logs
                    (Plugin Support)” button and restart the game.</i>
                <br>
                <a type="button" class="btn btn-link" href="{{ url_for('download_file') }}">Click here</a>to download
                Orens MTGA-EasyExporterV0.6. <b>FOR Theros Beyond Death</b>.</p>
            <p>Open your Downloads folder and run OrensMTGA-EasyExporterV0.6.exe. If you receive a warning message,
                click "Run anyway". Do not copy anything while the program is running.
                A black tab will open and show you the progress. After one minute, it will finish and create a new file
                named "MTGAcollection.txt".
                Now, click on <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Submit Your
                    Collection</a> and paste.</p>
        </div>
        <div class="well">
            <p>Have any feedback, suggestions or requests? Want to add another deck list? Send an email to
                bestdeckforyou@gmail.com</p>
            <p>{{ comment }}</p>
        </div>

    </div>

    </body>
{% endblock content %}