{% extends "layout.html" %}
{% block content %}
	{% if value.unrecognized %}
		<table class="sortable" id="customers">
				<tr>
					<th>Cards Not Recognised</th>
				</tr>
		{% for card in value.unrecognized %}
				<tr>
					<td>{{ card }}</td>
				</tr>
		{% endfor %}
		</table>
		<br>
	{% endif %}	
	
	{% if value.recognized %}
		<table class="sortable" id="customers">
			<tr>
				<th>Your Collection is worth</th>
				<th>{{ value.tot_value }} €</th>
			</tr>
			<tr>
				<td># Different Cards</td>
				<td>{{ value.different_cards }}</td>
			</tr>
			<tr>
				<td>Total # of Copies</td>
				<td>{{ value.tot_copies }}</td>
			</tr>
		</table>
		
		<br>
		
		<table class="sortable" id="customers">
			<tr>
				<th>Card</th>
				<th>Number of Copies</th>
				<th>Price per Copy</th>
				<th>Total price</th>
			</tr>
			{% for card in value.recognized %}
				<tr>
					<td>
					<a class="simple" href="https://deckbox.org/mtg/ {{ card.name }} " > {{ card.name }} </a>
					</td>
					<td>{{ card.copies }}</td>
					<td>{{ card.price }}</td>
					<td>{{ card.tot_price }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

{% endblock content %}