{% extends "layout.html" %}
{% block content %}

    <a href='/Standard/{{ currency |safe }} ' > Standard </a>
    |
     <a href='/Historic/{{ currency |safe }} ' > Historic </a>
    |
     <a href='/Brawl/{{ currency |safe }} ' > Brawl </a>
    |
     <a href='/Historic Brawl/{{ currency |safe }} ' > Historic Brawl </a>

    <br>
    <br>

    <table id="customers">
        <tr>
            <th>{{ format_name }} Tiers by % Price you already have</th>
        </tr>
    </table>

    <table id="customers" class="sortable">
        <tr>
            <th>Deck:</th>
            <th>Mythics</th>
            <th>Rare</th>
            <th>Uncommon</th>
            <th>Common</th>
            <th>Cards you need</th>
            <th>Tot Cards</th>
        </tr>
        {% for deck in formato %}
            <tr>
                <td><a href='/calc/{{ format_name }}/{{ deck.name }}/{{ currency |safe }}'> {{ deck.name }} </a></td>
                <td> {{ deck["wc"]["Mythic"] }} </td>
                <td> {{ deck["wc"]["Rare"] }} </td>
                <td> {{ deck["wc"]["Uncommon"] }} </td>
                <td> {{ deck["wc"]["Common"] }} </td>
                <td> {{ deck.cards_needed }} </td>
                <td>{{ deck.cards_total }} </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

{% endblock content %}